# Use rake secret to generate new keys for:
# - the development and test secret_key_base
# - and the devise_secret_key
development:
  secret_key_base:
  devise_secret_key:

test:
  secret_key_base:
  devise_secret_key:

# Load production secret from environment
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  devise_secret_key:
