# Use rake secret to generate new keys for:
# - the development and test secret_key_base
# - and the devise_secret_key
default: &default
  secret_key_base:
  devise_secret_key:
  ng_hostname: localhost
  ng_port: 8000
  ganalytics:

development:
  <<: *default

test:
  <<: *default

integration:
  <<: *default

staging:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  devise_secret_key: <%= ENV["DEVISE_SECRET_KEY"] %>
  ng_hostname:
  ng_port:
  new_relic_license_key:
  new_relic_app_name:
  ganalytics:
    tracking_id:
    domain_name:

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  devise_secret_key: <%= ENV["DEVISE_SECRET_KEY"] %>
  ng_hostname:
  ng_port:
  new_relic_license_key:
  new_relic_app_name:
  ganalytics:
    tracking_id:
    domain_name:
